{% extends 'crm/main.html' %}
{% block content %}

<table class="my-table w-100 text-center mt-4">
    <thead>
        <tr class="text-center">

            <th scope="col">Товар</th>
            <th scope="col">Дата заказа</th>
            <th scope="col">Статус</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {% for o in order %}
        <tr>
            <th scope="row">{{ o.product }}</th>
            <td>{{ o.date_created }}</td>
            <td>{{ o.status }}</td>
            <td>
                <a class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#actionModal"><svg width="1em"
                        height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></a></div>
                {% include "crm/modal_dialog.html" %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}