<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalLabel">Удалить Заказ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот заказ "<label class="text-danger">{{ o.product.name }}</label>"
                статус " <label class="text-danger">{{ o.status }}</label>"?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
                <a type="button" class="btn btn-danger" href="{% url 'delete_order' o.id %}">Удалить</a>
            </div>

        </div>
    </div>
</div>