{% extends 'crm/main.html' %}
{% block content %}

<form action="{% url 'add_task' %}" method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" name="task_name" placeholder="Задача">
    </div>
    <div class="col-8">
      <input type="text" class="form-control" name="task_desc" placeholder="Описание"></input>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-outline-info" value="Add">Создать</button>
    </div>
  </div>
</form>
<div class="container w-100 d-flex justify-content-center mt-4">

  <table class="my-table w-100 text-center">
    <thead>
      <tr class="text-center">
        <th scope="col">Задача</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for t in task %}
      <tr>
        <td>{{ t.name }}</td>
        <td class="text-break">{{ t.desc }}</td>
        <td>{{ t.date_created  | date:"h:i A" }}</td>
        <td><a href="{% url 'del_task' t.id %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}